@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family : "Montserrat", sans-serif;
    --color-blanco : #ffffff;
    --color-negro : #212429;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.grid-item {
    display: grid;
    grid-template-columns: 
    "foto"
    "descripcion precio";
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.grid-item img {
    border-radius: 10px;
}

.grid-item-descripcion-precio {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: 15px;
}

.texto-main {
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.texto-main-grande {
    font-size: 40px;
}

.texto-negrita {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

.imagen-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 20px;
    gap: 20px;
}

.imagen-footer {
    background-color: var(--color-blanco);
    border-radius: 50%;
    border: 10px solid var(--color-blanco);
}
