@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family : "Montserrat", sans-serif;
    --color-blanco : #ffffff;
    --color-negro : #212429;
}

main {
    padding-top: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    display: grid;
    grid-template-columns: 
    "foto"
    "descripcion precio";
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.grid-item img {
    border-radius: 10px;
}

.grid-item-descripcion-precio {
    display: flex;
    gap: 64px;
    justify-content: space-around;
}

.estatico {
    position: static;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--color-blanco);
}

.barra-navegacion-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
}

.separador {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: var(--color-blanco);
}

.texto-main {
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.texto-main-grande {
    font-size: 40px;
}

.texto-negrita {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-size: 16px;
    border: 32px solid var(--color-blanco);    
}

.imagen-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 32px;
    gap: 16px;
}

.imagen-footer {
    background-color: var(--color-blanco);
    border-radius: 50%;
    border: 10px solid var(--color-blanco);
}
